# Funções 

Uma função e um bloco de código que apenas roda quando e chamada. Já usamos uma função, que vem definida por padrão no Python, o print. Mas podemos também criar nossas próprias funções, para realizarmos tarefas complexas, sem ter que reescrever muitas vezes o mesmo trecho de código.

In [9]:
#Exemplo de funcao

def imprime(valor):
    print("valor digitado: " + str(valor))
    print("Dobro do valor digitado: " + str(valor*2))

imprime(5)

valor digitado: 5
Dobro do valor digitado: 10

Vamos importar a base de dados [sobre Rendimento e movimento escolar](http://dados.prefeitura.sp.gov.br/dataset/rendimento-e-movimento-escolar-ensino-fundamental) e verificar dados sobre alunos aprovados, repovados e evadidos no ensino fundamental:

In [39]:
import pandas as pd


#Lista de colunas que desejamos importar
cols = ["ANO", "TOTALEF_ABAND", "TOTALEF_APROV", "TOTALEF_REPROV"]

df = pd.read_csv('censoevolutivomovimentorendimento.csv' , 
                 sep = ";", encoding = 'latin-1', header = 0, usecols=cols)

#Utilizar apenas linhas cujo valor da coluna ano e 2015
df = df[df.ANO == 2015]

df['TOTAL'] = df['TOTALEF_ABAND'] + df['TOTALEF_APROV'] + df['TOTALEF_REPROV'] 

#Utilizar apenas linhas cujo valor da coluna Total e diferente de 0
df = df[df.TOTAL != 0].reset_index(drop=True)

df

       ANO  TOTALEF_ABAND  TOTALEF_APROV  TOTALEF_REPROV  TOTAL
0     2015              4            557              59    620
1     2015              6            338              22    366
2     2015              7            438              19    464
3     2015              3            746              17    766
4     2015             29            848              20    897
5     2015             21            781              17    819
6     2015              9            622              12    643
7     2015             33            980              91   1104
8     2015             20            581               6    607
9     2015             44            609              14    667
10    2015             22            747              11    780
11    2015              6            706              18    730
12    2015             12            457              68    537
13    2015             14            634              35    683
14    2015             12            567              41    620
15    2015             27            649              13    689
16    2015             13            590              11    614
17    2015              0            526              21    547
18    2015              0            716              61    777
19    2015             27            503              58    588
20    2015              8            742              32    782
21    2015              2            855              14    871
22    2015              6            724               2    732
23    2015              5            581              61    647
24    2015             20            850              50    920
25    2015             11            626              57    694
26    2015              6            618               5    629
27    2015              4            463              42    509
28    2015             20            712              20    752
29    2015             16            532              24    572
...    ...            ...            ...             ...    ...
1940  2015              0            226               8    234
1941  2015              0            281              10    291
1942  2015              0            160              13    173
1943  2015              0             51               1     52
1944  2015              0            511               8    519
1945  2015              0            204               6    210
1946  2015              0            142               3    145
1947  2015              0             45               3     48
1948  2015              0            263               3    266
1949  2015              0            149               1    150
1950  2015              0            180               7    187
1951  2015              0            297              16    313
1952  2015              0             68               0     68
1953  2015              0             58               2     60
1954  2015              0             40               0     40
1955  2015              0             15               0     15
1956  2015              0            156               3    159
1957  2015              0             35               0     35
1958  2015              0            151               6    157
1959  2015              0            136               2    138
1960  2015              0             20               0     20
1961  2015              0             15               0     15
1962  2015              0            208               3    211
1963  2015              1             29               0     30
1964  2015              0             22               0     22
1965  2015              0             51               1     52
1966  2015              0             42               0     42
1967  2015              0             27               1     28
1968  2015              0            102               1    103
1969  2015              0             25               0     25

[1970 rows x 5 columns]

Vamos agora definir uma funcao chamada razao, que ira retorna a razao entre dois ou mais valores:

In [40]:
def razao(valor1, valor2):
    return valor1/valor2

Vamos criar uma nova coluna Razao_Aprov que mostra o total de alunos aprovaodos

In [ ]:
df['Razao_Aprov'] = razao(df['TOTALEF_ABAND'] + df['TOTALEF_APROV'] + df['TOTALEF_REPROV']